#container-info {
  border: 1px solid gray;
  padding: 50px;
  border: 1px solid black;
  border-radius: 5px;
  height: fit-content;
  width: fit-content;
}
.post-button {
  cursor: pointer;
  width: 500px;
  padding: 5px 10px;
  border: 1px solid black;
  border-radius: 5px;
  margin-top: 20px;
  margin-left: 35%;
}
.item {
  border: 1px solid;
  margin: 10px;
  width: fit-content;
  padding: 10px;
  font-size: 14px;
  overflow:hidden;
  white-space: nowrap;
  display: inline-block;
}
